<section id="partner">
    <div class="max-w-7xl mx-auto px-6 md:px-12">

        <div class="grid grid-cols-2 gap-8 sm:gap-12 md:grid-cols-3 lg:grid-cols-5">
            <a href="https://www.cloudflare.com" target="_blank"
                class="flex items-center justify-center hover:scale-105 transition-transform duration-300">
                <img src="/images/tool/cloudflare-logo.svg" alt="Cloudflare Logo" class="h-12 dark:filter" width="48"
                    height="48" loading="lazy" fetchpriority="low" >
            </a>
            <a href="https://tailwindcss.com" target="_blank"
                class="flex items-center justify-center hover:scale-105 transition-transform duration-300">
                <img src="/images/tool/tailwind-css-logo.svg" alt="Tailwind CSS Logo" class="h-12 dark:filter"
                    width="48" height="48" loading="lazy" fetchpriority="low">
            </a>

            <a href="https://github.com" target="_blank"
                class="flex items-center justify-center hover:scale-105 transition-transform duration-300">
                <img src="/images/tool/github-logo.svg" alt="GitHub Logo" class="h-12 dark:filter dark:invert"
                    width="48" height="48" loading="lazy" fetchpriority="low">
            </a>

            <a href="https://www.markdownguide.org" target="_blank"
                class="flex items-center justify-center hover:scale-105 transition-transform duration-300">
                <img src="/images/tool/markdown-logo.svg" alt="Markdown Logo" class="h-12 dark:filter dark:invert"
                    width="48" height="48" loading="lazy" fetchpriority="low">
            </a>

            <a href="https://www.rust-lang.org" target="_blank"
                class="flex items-center justify-center hover:scale-105 transition-transform duration-300">
                <img src="/images/tool/rust-logo.svg" alt="Rust Logo" class="h-12 dark:filter dark:invert" width="48"
                    height="48" loading="lazy" fetchpriority="low">
            </a>

        </div>
    </div>
</section>