<div id="top" class="z-50">
  <a href="#top" 
     aria-label="Back to top" 
     class="fixed bottom-5 right-5 p-3 rounded-full bg-gray-100 dark:text-white text-gray-900
            hover:text-white hover:bg-gray-800 dark:bg-gray-800 dark:hover:bg-gray-600
            transition duration-300 dark:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-900 dark:focus:ring-white">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
      <path fill="none" d="M0 0h24v24H0z"/>
      <path d="M12 4l-4 4h3v7h2V8h3l-4-4z" fill="currentColor"/>
    </svg>
  </a>
</div>
